.App {
  text-align: center;
  font-family: sans-serif;
  max-width: 800px;
  margin: 20px auto;
}

.container {
  max-width: 800px;
  display: block;
  margin: 0 auto;
  outline: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 10px 10px 10px 10px;
  background-color: #f9f8fe;
}

.App-header {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.8);
}

a {
  color: #9670f4;
}

footer {
  font-size: 15px;
  text-align: right;
}
